[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-go"]
	path = vimfiles/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/license-to-vim"]
	path = vimfiles/bundle/license-to-vim
	url = https://github.com/ararslan/license-to-vim.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-ingo-library"]
	path = vimfiles/bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "vimfiles/bundle/vim-easytags"]
	path = vimfiles/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vimfiles/bundle/vim-misc"]
	path = vimfiles/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vimfiles/bundle/vim-notes"]
	path = vimfiles/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vimfiles/bundle/vim-autoadapt"]
	path = vimfiles/bundle/vim-autoadapt
	url = https://github.com/inkarkat/vim-AutoAdapt.git
[submodule "vimfiles/bundle/vimwiki"]
	path = vimfiles/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-lucius"]
	path = vimfiles/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "vimfiles/other/pathogen"]
	path = vimfiles/other/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/vim-polyglot"]
	path = vimfiles/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vimfiles/bundle/coc.nvim"]
	path = vimfiles/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vimfiles/bundle/catppuccin"]
	path = vimfiles/bundle/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/bundle/vim-airline-themes"]
	path = vimfiles/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vimfiles/bundle/vim-devicons"]
	path = vimfiles/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vimfiles/bundle/delimitmate"]
	path = vimfiles/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/bundle/gv-vim"]
	path = vimfiles/bundle/gv-vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "vimfiles/bundle/vim-scimark"]
	path = vimfiles/bundle/vim-scimark
	url = https://github.com/mipmip/vim-scimark.git
[submodule "vimfiles/bundle/rainbow_parenthesis"]
	path = vimfiles/bundle/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vimfiles/bundle/searchcomplete"]
	path = vimfiles/bundle/searchcomplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "vimfiles/bundle/vim-localrc"]
	path = vimfiles/bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "vimfiles/bundle/vim-journal"]
	path = vimfiles/bundle/vim-journal
	url = https://github.com/junegunn/vim-journal.git
[submodule "vimfiles/bundle/vim-startuptime"]
	path = vimfiles/bundle/vim-startuptime
	url = https://github.com/dstein64/vim-startuptime.git
